<mat-toolbar>
  <button mat-icon-button (click)="sideNav.toggle()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Title</span>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav #sideNav mode="over" >
    <mat-nav-list>
      <a mat-list-item routerLink="digidex" routerLinkActive >Digidex</a>
      <a mat-list-item routerLink="digimon-summary" routerLinkActive >Digimon Summary</a>
      <a mat-list-item routerLink="digimon-details" routerLinkActive >Digimon Details</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>